.web-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(./galaxy.jpg);
  background-size: cover;
}

.circle-photo {
  position: absolute;
  bottom: 15%;
  left: 40%;
}

.circle-path{
  position: absolute;
  top: 40%;
  left: 20%;
}

.circle-tools {
  position: absolute;
  top: 10%;
  left: 40%;
}

.circle-creations {
  position: absolute;
  top: 40%;
  left: 65%;
}

@media screen and (max-width: 700px){
  .web-page{
    background-size: 500px 900px;
  }
}
